# This File Specifies what is to be ignored by GIT
# This can be confirmed by running 'git status'

# Simply enter the name of the folder or file to ignore
# Wildcards are supported
########################################################


# Files
##############


# Folders
##############
_RoughWork/*
